@{
    ViewBag.Title = "Quản lý khiếu nại";
}

<div ng-app="myApp" ng-controller="myCtrl">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách khiếu nại&nbsp;&nbsp;&nbsp;<a href="#" ng-click="addNew()"><i my-tool-tip="Thêm mới" class="fa fa-plus"></i></a></h2>
                    <div class="clearfix"></div>
                </div>
                <!-- end x_title-->
                <div class="x_content">
                    <div class="row">
                        <!-- search-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="searchText" my-enter="GetData(1,searchText)" />
                            </div>
                        </div>
                        <!-- search-->
                    </div>

                    <!-- table data-->
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>STT</th>
                                    <th>Mã KN</th>
                                    <th>Ngày</th>
                                    <th>Khách hàng</th>
                                    <th>Nội dung</th>
                                    <th>Nhân viên</th>
                                    <th>Trạng thái</th>
                                    <th>#</th>
                                    <th>#</th>
                                    <th>#</th>
                                    <th>#</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in allTrouble">
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.TicketID}}</td>
                                    <td>{{item.TicketDate.slice(6, -2) | date : 'dd/MM/yyyy'}}</td>
                                    <td>{{item.CustomerID}}</td>
                                    <td>{{item.TicketName}}</td>
                                    <td>{{item.EmployeeID}}</td>
                                    <td>{{item.StatusID}}</td>
                                    <td><a href="#" ng-click="addticket($index)">Thêm XL</a></td>
                                    <td><a href="#" ng-click="getticket($index)">Xử lý</a></td>
                                    <td><a href="#" ng-click="edit($index)">Chi tiết</a></td>
                                    <td><a href="#" ng-click="sendDelete($index)">Xóa</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table data-->
                    <!--phan trang-->
                    <ul items-per-page="itemPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <!-- end phan trang-->

                </div>
                <!-- end x_content-->
            </div>
            <!-- end x_pannel-->
        </div>

    </div>
    <!-- thong tin tra cuu -->
    <div id="tracuumodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tra cứu nhanh bưu phẩm</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>STT</th>
                                <th>Nội dung</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in allChiTiet">
                                <td>{{$index + 1}}</td>
                                <td>{{x.NoiDung}}</td>
                                <td>{{x.TrangThai}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- thong tin chi tiet -->
    <div id="chitietmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông tin chi tiết quá trình</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>STT</th>
                                <th>Nội dung</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in allChiTiet">
                                <td>{{$index + 1}}</td>
                                <td>{{x.NoiDung}}</td>
                                <td>{{x.TrangThai}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div id="addsubmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <form class="css-form" name="createFormsub" ng-submit="finishFormsub(createForm.$valid)">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới thông tin chi tiết</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Mã KN</label>
                                    <input type="text" maxlength="10" class="form-control" ng-model="TroubleInfo.Sub.TicketID" required ng-disabled="true" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Trạng thái</label>
                                    <select class="form-control" ng-model="TroubleInfo.Sub.TrangThai" required>
                                        <option value="Tiếp nhận">Tiếp nhận</option>
                                        <option value="Đang xử lý">Đang xử lý</option>
                                        <option value="Hoàn tất">Hoàn tất</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <textarea type="text" class="form-control" ng-model="TroubleInfo.Sub.NoiDung" required rows="5"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Hoàn thành</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- tao model them moi-->
    <div id="insertmodal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modaltitle}}</h4>
                </div>


                <!-- begin form-->
                <form class="css-form" name="createForm" ng-submit="finishForm(createForm.$valid)">
                    <!-- body-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">

                                <div class="form-group">
                                    <label>Mã KN</label>
                                    <input type="text" maxlength="10" class="form-control" ng-model="TroubleInfo.TicketID" required ng-disabled="true" />
                                </div>

                                <div class="form-group">
                                    <label>Khách hàng</label>
                                    <select class="form-control" ng-model="TroubleInfo.CustomerID" required>
                                        <option ng-repeat="x in allCustomer" value="{{x.CustomerCode}}">{{x.CustomerName | uppercase}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Ngày KN</label>
                                            <input type="text" model-view-value="true" class="form-control" ng-model="TroubleInfo.TicketDate" required ui-mask="99/99/9999" ui-mask-placeholder />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nhân viên</label>
                                            <select class="form-control" ng-model="TroubleInfo.EmployeeID" required>
                                                <option ng-repeat="x in allEmployee" value="{{x.EmployeeID}}">{{x.EmployeeName | uppercase}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Bưu cục</label>
                                            <select class="form-control" ng-model="TroubleInfo.PostOfficeID" required>
                                                <option ng-repeat="x in allPostOffice" value="{{x.PostOfficeID}}">{{x.PostOfficeName | uppercase}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select class="form-control" ng-model="TroubleInfo.StatusID" required convert-to-number>
                                                <option value="0">Tiếp nhận</option>
                                                <option value="1">Đang xử lý</option>
                                                <option value="2">Hoàn tất</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Số phiếu</label>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <input type="text" maxlength="10" class="form-control" ng-model="TroubleInfo.MailerID" />
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-primary" ng-click="showtracking()">Tra cứu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Thông tin liên hệ</label>
                                    <textarea type="text" class="form-control" ng-model="TroubleInfo.Contact" required rows="2"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <textarea type="text" class="form-control" ng-model="TroubleInfo.TicketName" required rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- end body-->
                        <!-- begin footer-->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Hoàn thành</button>
                        </div>
                        <!-- end footer-->
                </form>
                <!-- end form-->

            </div>
            <!-- end modal content-->
        </div>
    </div>
    <!-- tao model them moi-->
</div>


<!-- end content-->
@section scripts {

    <script>

        // tao controller
        var app = angular.module('myApp', ['ui.bootstrap', 'myKeyPress', 'ui.mask', 'myDirective']);

        app.controller('myCtrl', function ($scope, $http, $filter) {


            $scope.allEmployee = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.AllEmployee))');
            $scope.allPostOffice = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.AllPostOffice))');
            $scope.allStatus = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.AllStatus))');
            $scope.allCustomer = angular.fromJson('@Html.Raw(Json.Encode(ViewBag.AllCustomer))');

            // phan trang
            $scope.numPages;
            $scope.itemPerPage;
            $scope.totalItems;
            $scope.currentPage = 1;
            $scope.maxSize = 5;
            $scope.pageChanged = function () {
                $scope.GetData($scope.currentPage);
            };


            // lay du lieu
            $scope.allTrouble = [];
            $scope.GetData = function (page, search) {
                showLoader(true);
                $http({
                    method: "GET",
                    url: "/trouble/gettrouble?page=" + page + "&search=" + search
                }).then(function mySuccess(response) {
                    showLoader(false);

                    if (response.data.error === 0) {

                        $scope.allTrouble = response.data.data;
                        $scope.itemPerPage = response.data.pageSize;
                        $scope.totalItems = response.data.toltalSize;
                        $scope.numPages = Math.round($scope.totalItems / $scope.itemPerPage);

                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
            }
            // goi lay du liẹu

            $scope.GetData(1, "");
            //
            // khoi tao bien dung cho create va edit
            $scope.TroubleInfo = {};
            $scope.TroubleInfo.Sub = {};
            $scope.IsAction = '';
            //them moi khieu nai
            $scope.addNew = function () {
                var date = new Date();
                var fDate = $filter('date')(date, "dd/MM/yyyy");
                $scope.TroubleInfo = { "TicketID": "", "TicketName": "", "EmployeeID": "", "StatusID": "", "PostOfficeID": "", "TicketDate": fDate };
                //tao moi ma tiketid
                $http({
                    method: "GET",
                    url: "/Trouble/getMaxId"
                }).then(function mySuccess(response) {
                    showLoader(false);
                    if (response.data.error === 0) {
                        $scope.TroubleInfo.TicketID = response.data.data;
                    }

                }, function myError(response) {
                    showLoader(false);
                    showNotify('Connect error');
                });
                $scope.modaltitle = "Thêm khiếu nại";
                $scope.IsAction = 'add';
                showModel("insertmodal")

            };
            //them moi sub ticket
            $scope.addticket = function (index) {
                var info = $scope.allTrouble[index];
                $scope.TroubleInfo = angular.copy(info);
                $scope.TroubleInfo.Sub = { "TicketID": $scope.TroubleInfo.TicketID, "NoiDung": "", "TrangThai": "" };
                $scope.modaltitle = "Thêm mới chi tiết khiếu nại";
                showModel("addsubmodal")
            };

            $scope.edit = function (index) {
                var info = $scope.allTrouble[index];
                $scope.TroubleInfo = angular.copy(info);
                var fDate = $filter('date')($scope.TroubleInfo.TicketDate.slice(6, -2), "dd/MM/yyyy");
                $scope.TroubleInfo.TicketDate = fDate;
                $scope.modaltitle = "Chỉnh sửa khiếu nại";
                $scope.TicketIDDisable = true;
                $scope.IsAction = 'edit';
                showModel("insertmodal")
            };
            //lay thong tin chi tiet cua ticket
            $scope.getticket = function (index) {
                var info = $scope.allTrouble[index];
                $http.get('/trouble/getDetail?ticketid=' + info.TicketID).then(function (response) {
                    var result = response.data;
                    $scope.allChiTiet = result;
                    console.log(result);
                    showModel("chitietmodal");
                });
            }
            // tim index theo ma tinh
            function getSelectedIndex(id) {
                for (var i = 0; i < $scope.allTrouble.length; i++)
                    if ($scope.allTrouble[i].TicketID == id)
                        return i;
                return -1;
            };
            // action
            $scope.finishForm = function () {
                if ($scope.IsAction === 'add') {
                    $scope.sendCreate();
                } else if ($scope.IsAction === 'edit') {
                    $scope.sendEdit();
                } else if ($scope.IsAction === 'delete') {
                    // $scope.Info = angular.copy(info);
                    $scope.sendDelete();
                }
            }
            // action for sub form
            $scope.finishFormsub = function () {
                //$scope.sendCreatesub();
                showLoader(true);
                $http({
                    method: "POST",
                    url: "/trouble/createsub",
                    data: { trouble: $scope.TroubleInfo.Sub }
                }).then(function success(response) {

                    var result = response.data;

                    if (result.error === 0) {

                        hideModel("addsubmodal");
                        showNotify("Đã thêm khiếu nại");

                    } else {

                        alert(result.msg);

                    }
                    showLoader(false);

                }
                , function error(response) {
                    showNotify("connect has disconnect");
                    showLoader(false);
                });
            }


            // them tinh
            $scope.sendCreate = function () {

                showLoader(true);
                $http({
                    method: "POST",
                    url: "/trouble/create",
                    data: { trouble: $scope.TroubleInfo, ngaytao: $scope.TroubleInfo.TicketDate }
                }).then(function success(response) {

                    var result = response.data;

                    if (result.error === 0) {

                        $scope.allTrouble.unshift(result.data);
                        hideModel("insertmodal");
                        showNotify("Đã thêm khiếu nại");

                    } else {

                        alert(result.msg);

                    }

                    showLoader(false);

                }
                , function error(response) {
                    showNotify("connect has disconnect");
                    showLoader(false);
                });

            };

            // cap nhat tinh
            $scope.sendEdit = function () {
                showLoader(true);
                $http({
                    method: "POST",
                    url: "/trouble/edit",
                    data: { trouble: $scope.TroubleInfo, ngaytao: $scope.TroubleInfo.TicketDate }
                }).then(
                    function success(response) {
                        var result = response.data;
                        if (result.error == 0) {
                            var findIndex = getSelectedIndex(result.data.TicketID);
                            if (findIndex !== -1) {
                                $scope.allTrouble[findIndex] = angular.copy(result.data);
                            }
                            showNotify("Đã cập nhật");
                            hideModel("insertmodal");

                        } else {

                            alert(result.msg);

                        }

                        showLoader(false);

                    },
                    function errror(response) {
                        showLoader(false);
                        showNotify("connect has disconnect");
                    }
                );
            }
            $scope.sendDelete = function (index) {
                var info = $scope.allTrouble[index];
                console.log(info.TicketID);
                var r = confirm("Bạn muốn xóa không ?");
                if (r == true) {
                    showLoader(true);

                    $http({
                        method: "POST",
                        url: "/trouble/delete",
                        data: { ticketid: info.TicketID }
                    }).then(
                        function success(response) {

                            var result = response.data;

                            if (result.error == 0) {
                                $scope.allTrouble.splice(index, 1);

                            } else {

                                alert(result.msg);

                            }

                            showLoader(false);

                        },
                        function errror(response) {
                            showLoader(false);
                            showNotify("connect has disconnect");
                        }
                        );
                } else {

                }
            }
        });
        //-- end controller

    </script>
}

